.btn  {
  display: block;
}

#bob-barker {
    display: none;
}

#queen-elizabeth {
  display: none;
}

#the-big-man {
  display: none;
}

#grand-canyon {
  display: none;
}

#the-final-frontier {
  display: none;
}